In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
literacy = pd.read_csv("../input/adultliteracy.csv")
literacy.rename(index = str, columns={"Adult..15...literacy.rate......Total":"Country"}, inplace=True)
literacy.fillna(0, inplace=True)
literacy.head()

,Country,X1975,X1976,X1977,X1978,X1979,X1980,X1981,X1982,X1983,...,X2002,X2003,X2004,X2005,X2006,X2007,X2008,X2009,X2010,X2011
0,Afghanistan,0.0,0.0,0.0,0.0,18.157681,0.0,0.0,0.0,0.0,...,0.0000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,39.000000
1,Albania,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0000,0.0,0.0,0.0,0.000000,0.0,95.93864,0.0,0.0,96.845299
2,Algeria,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,69.8735,0.0,0.0,0.0,72.648679,0.0,0.00000,0.0,0.0,0.000000
3,Andorra,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,0.000000
4,Angola,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,70.362420

In [51]:
literacy = pd.melt(literacy, id_vars=['Country'], value_vars = list(literacy.columns).remove("Country"))

                           Country variable  value
0                      Afghanistan    X1975    0.0
1                          Albania    X1975    0.0
2                          Algeria    X1975    0.0
3                          Andorra    X1975    0.0
4                           Angola    X1975    0.0
5                         Anguilla    X1975    0.0
6              Antigua and Barbuda    X1975    0.0
7                        Argentina    X1975    0.0
8                          Armenia    X1975    0.0
9                            Aruba    X1975    0.0
10                       Australia    X1975    0.0
11                         Austria    X1975    0.0
12                      Azerbaijan    X1975    0.0
13                         Bahamas    X1975    0.0
14                         Bahrain    X1975    0.0
15                      Bangladesh    X1975    0.0
16                        Barbados    X1975    0.0
17                         Belarus    X1975    0.0
18                         Belgium    X1975    0.0
19                          Belize    X1975    0.0
20                           Benin    X1975    0.0
21                         Bermuda    X1975    0.0
22                          Bhutan    X1975    0.0
23                         Bolivia    X1975    0.0
24          Bosnia and Herzegovina    X1975    0.0
25                        Botswana    X1975    0.0
26                          Brazil    X1975    0.0
27          British Virgin Islands    X1975    0.0
28                          Brunei    X1975    0.0
29                        Bulgaria    X1975    0.0
...                            ...      ...    ...
9664                 New Caledonia    X2011    0.0
9665               Ngorno-Karabakh    X2011    0.0
9666                Norfolk Island    X2011    0.0
9667               Northern Cyprus    X2011    0.0
9668      Northern Mariana Islands    X2011    0.0
9669                      Pitcairn    X2011    0.0
9670                       Reunion    X2011    0.0
9671              Saint Barthélemy    X2011    0.0
9672                  Saint Helena    X2011    0.0
9673                  Saint Martin    X2011    0.0
9674      Saint-Pierre-et-Miquelon    X2011    0.0
9675         Serbia and Montenegro    X2011    0.0
9676       Serbia excluding Kosovo    X2011    0.0
9677                    Somaliland    X2011    0.0
9678                 South Ossetia    X2011    0.0
9679                   South Sudan    X2011    0.0
9680                      Svalbard    X2011    0.0
9681                        Taiwan    X2011    0.0
9682                  Transnistria    X2011    0.0
9683                          USSR    X2011    0.0
9684              Wallis et Futuna    X2011    0.0
9685                  West Germany    X2011    0.0
9686                Western Sahara    X2011    0.0
9687         Virgin Islands (U.S.)    X2011    0.0
9688  Yemen Arab Republic (Former)    X2011    0.0
9689     Yemen Democratic (Former)    X2011    0.0
9690                    Yugoslavia    X2011    0.0
9691                         Åland    X2011    0.0
9692                             0    X2011    0.0
9693                             0    X2011    0.0

[9694 rows x 3 columns]